.page-stores {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 5%;
  background: #E9DEF1;
}


.page-stores > h2 {
  margin-left: 5%;
  margin-bottom: 10px;
  color: hsl(271, 100%, 14%);
  font-size: 40px;
  font-family: BenchNine;
  font-weight: 300;
}

#line {
    width: 90%;
    border: 0.5px solid #240046;
    margin-top: 0px;
}

.page-stores .list-stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  color: #FFFFFF;
  padding: 20px 135px 20px 135px;
}